<!--Footer -->
<footer class="site-footer">
<div class="ferris">
</div>
  <div class="footer-wrapper">
    <div class="footer-col-wrapper">
      
	  <div class="footer-col footer-col-1">
		  <h4 class="footer-heading">Contact us</h4>
		  <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
		  <h4>Sarah Binion</h4>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="social-media-list">
		  <h4>Vince Bright</h4>
          {% if site.github_username2 %}
          <li>
            {% include icon-github.html username=site.github_username2 %}
          </li>
          {% endif %}
        </ul>
      </div>
		
    </div>
  </div>
</footer>
<script src="js/main.js"></script>

<!--Footer -->