/**
 * Site header
 */
.theAsk{
	max-width:400px;
}

.site-header {
    position: fixed;
	width: 100%;
	border-top: 1px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-dark;
	background-color: $grey-color-light;
	padding: 3px;
}

.site-title {
    font-size: 20px;
    line-height: $base-line-height;
    letter-spacing: 1px;
    float: center;
	font-family: "Inknut Antiqua";

    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
	
    float: right;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Page content
 */
.home {
	min-width: 300px;
	overflow: scroll;
}

.page-content {
    padding: $spacing-unit;
}

.page-heading {
	text-transform: uppercase;
  	color: #ffffff;
  	font-size: 20px;
	/*dropshadow */
  		-webkit-text-stroke: 1px #a9187b;
  	letter-spacing:10px;
  		-webkit-filter: drop-shadow(2px 2px 0 #a9187b);
  	text-align: center;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.page-title{
	
}

.page-directions {
	color: $grey-color-light;
	max-width: 550px;
	margin: 0 15% 0 15% ;
}

.magicE{
	background-color:transparent;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1.5px solid #020022;
	display:inline-block;
	cursor:pointer;
	color:#020022;
	font-size:17px;
	padding:10px 25px;
	margin: 0 35% 0 35%;
}

.wisdom {
	position: fixed;
	left: 700px;
	top: 300px;
	min-width: 200px;
	min-height: 100px;
	text-transform: uppercase;
  	color: #ffffff;
  	font-size: 20px;
	/*dropshadow */
  		-webkit-text-stroke: 1px #a9187b;
  	letter-spacing:10px;
  		-webkit-filter: drop-shadow(2px 2px 0 #a9187b);
}

/**
* Button
*/
.round {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-decoration: none;		
	text-align: center;
	font-size: 20px;		
	text-shadow: 0 1px 0 rgba(255,255,255,.7);	
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	box-shadow: 2px 2px 7px rgba(0,0,0,.2);
	border-radius: 300px;
	z-index: 1;
	border-width: 4px;
	border-style: solid;
	&:hover {
		width: 25%;
		height: 25%;
		left: -15%;
		top: -15%;
		font-size: 33px;
		padding-top: 38px;
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		-moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		box-shadow: 5px 5px 10px rgba(0,0,0,.3);
		z-index: 2;
		border-size: 10px;
		-webkit-transform: rotate(-360deg);
		-moz-transform: rotate(-360deg);
		-o-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}

/**
 * Site footer
 */

.site-footer {
	position: fixed;
	bottom: 0px;
	width: 105%;
}

.ferris {
	position: relative;
	background-image: url(../assets/AMUSEMENT.png);
	height: 500px;
	width: 100%;
}

.footer-col-wrapper {
	padding: $spacing-unit * 4;
    padding-bottom: $spacing-unit;
	padding-top: $spacing-unit;
	margin-left: -$spacing-unit / 2;
	background-color: #171724;
	color: $grey-color-light;
	font-size: .75em;
    @extend %clearfix;
}

.contact-list,
.social-media-list {
    list-style: none;
	margin-right: 10px;
	color: #fabf42;
	font-family: "helvetica", sans-serif;
}

.footer-heading {
	color: #fabf42;
}

.username {
    margin-left: 10px;
	margin-right: 10px;
	color:#A6A6A6;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
	.footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
    
	.footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}