/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
	background-color: #FD3A58;
    // Positioning context for the mobile navigation icon
    position: fixed;
	width: 100%;
	height: 20px;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: center;

    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Page content
 */
.home {
}

.page-content {
    padding: $spacing-unit 0;
	height: 600px;
	background-color: -webkit-linear-gradient(#020022, #a9187b, #fabf42); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#020022, #a9187b, #fabf42); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#020022, #a9187b, #fabf42); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#020022, #a9187b, #fabf42); /* Standard syntax (must be last) */
}

.page-directions {
	color: #ffffff;
	max-width: 400px;
	margin: 0 25% 0 25% ;
}

.magicE{
	background-color:transparent;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1.5px solid #020022;
	display:inline-block;
	cursor:pointer;
	color:#020022;
	font-size:17px;
	padding:10px 25px;
	margin: 0 20% 0 25%;
}

.page-heading {
	font-family: "Inknut Antiqua";
	text-transform: uppercase;
  	color: #fff;
  	font-size: 60px;
  		-webkit-text-stroke: 2px #FD3A58;
  	letter-spacing:10px;
  		-webkit-filter: drop-shadow(5px 4px 0 #020022);
  	text-align: center;
  	line-height: $base-line-height;
	margin: 4rem;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit;
	background-color: #FD3A58;
	position: fixed;
	bottom: 0px;
	width: 100%;
    color: #3D3D3D;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
	color: #d5d5d5;
	font-weight: 700;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
	color:#A6A6A6;
	font-size: 1em;
}

.footer-col-wrapper {
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}